#logo{
	width: 100px;
	height: 50px;

}

nav{
	/*height: 70px;
	padding-top: 10px;*/
	font: bold 18px Courier;
}
.navbar-default{
   background-color: white; 
}

body{
	background-color: white;
}

#searchbarBackground{
	background-image: url(../img/table.jpg);
    height: 400px;
    padding: 100px 0;
}

.media{
	height: 160px;
	border: 1px solid;
	border-color: #a3acb0;
	padding: 8px 8px 5px 8px;
	font-family: Source Sans Pro;
}
.thumbnailImg{
	width: 104px;
	height: 136px;
}
.restaurantImg{
	width:130px;
	height:170px;
}


/*.active {
	color: white;
	background-color: #dd604b;	
}*/

#searchButton{
	background-color: #7DCBBE;	
}

#searchButton:hover{
	background-color: #79BFB2;
}


.breadcrumb{
	background-color: #4d4d4d;
	color: white;
}

.breadcrumb a{
     color: white;
}

/*About*/
#aboutBackgroundColor{
	background-color: rgba(165,199,127,.8);
}



footer{
	background-color: #4d4d4d;
	color: white;
}
.footerlink{
	width:40px;
	height: 40px;
	/*background-image: url('../img/fblogo.svg');*/
	
}






