#logo{
	width: 100px;
	height: 50px;

}

nav{
	/*height: 70px;
	padding-top: 10px;*/
	font: bold 18px Courier;
}
.navbar-default{
   background-color: white; 
}

body{
	background-color: white;
}


.red{
  color: #DD604B;
}
#searchbarBackground{
	background-image: url(../img/table.jpg);
    height: 400px;
    padding: 100px 0;
}

/*.restaurantContainer{
  position: relative;
}*/

.media{
	height: 160px;
/*	border: 1px solid;
	border-color: #;*/

	padding: 8px 8px 5px 8px;
	/*font-family: Source Sans Pro;*/
}


.media-body{
  width: 200px;
}


.thumbnailImg{
	width: 104px;
	height: 136px;
}
.restaurantImg{
	width:130px;
	height:170px;
}
/*.restaurantThumnail{
	float: left; 
}*/

/*.active {
	color: white;
	background-color: #dd604b;	
}*/

#searchButton{
	background-color: #7DCBBE;	
}

#searchButton:hover{
	background-color: #79BFB2;
}


.breadcrumb{
	background-color: #4d4d4d;
	color: white;
}

.breadcrumb a{
     color: white;
}

/*About*/
#aboutBackgroundColor{
	background-color: rgba(165,199,127,.8);
}



footer{
	background-color: #4d4d4d;
	color: white;
}
.footerlink{
	width:40px;
	height: 40px;
	/*background-image: url('../img/fblogo.svg');*/
	
}

/*rating colour*/
/*.symbol {
  display: inline-block;
  border: 5px double white;
  width: 30px;
  height: 30px;
}*/

/*.symbol-empty {
  background-color: #ccc;
}
*/
.symbol-filled {
  background-color: black;
}


.taggle_list {
	margin: 0;
	padding: 0;
	font-size: .8em;
  float: left;
  width: 100%;
}

.taggle_input {
  border: none;
  outline: none;
  /*font-size: 16px;*/
  font-weight: 300;
}

.taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
}

.taggle_list .taggle {
  margin-right: 8px;
  background: #E2E1DF;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.taggle_list .taggle_hot {
  background: #cac8c4;
}

.taggle_list .taggle .close {
  /*font-size: 1.1rem;*/
  position: absolute;
  top: 5px;
  right: 3px;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 3px;
  line-height: 0.5;
  color: #ccc;
  color: rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
  display: none;
  border: 0;
  background: none;
  cursor: pointer;
}

.taggle_list .taggle:hover {
  padding: 5px;
  padding-right: 15px;
  background: #ccc;
  transition: all .3s;
}

.taggle_list .taggle:hover > .close {
  display: block;
}

.taggle_list .taggle .close:hover {
  color: #990033;
}

.taggle_placeholder {
  position: absolute;
  color: #CCC;
  top: 12px;
  left: 28px;
  transition: opacity, .25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.taggle_input {
  padding: 8px;
  padding-left: 0;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100%;
  max-width: 100%;
}

.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}

